* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/night-sky-stars-scenery-landscape-21-4K.jpg);
}

.custom-header {
  background-image: linear-gradient(
        rgba(104, 102, 236, 0.3) 0%,
        rgba(102, 176, 236, 0.6) 100%
  );
  display: flex;
  flex-direction: column;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.custom-button {
    width: 5vw;
}

.button-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-bottom:  3px solid #000;
}

.custom-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    width: 90vw;
}

.custom-jumbotron {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    height: 40vh;
}

.custom-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.forecast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.cities-list {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.cities {
    border: none;
    font-weight: 600;
}

.cities:hover {
    color: #fff;
}

.neon-row {
    box-shadow:
    0 0 0.1px 0.4px #17dcff,
    0 0 0.4px 0.6px #1e91f0,
    0 0   4px 0.4px #1e3df0,
    inset 0 0  1.5px 0.4px #1e3df0,
    inset 0 0  0.4px 0.2px #1e91f0,
    inset 0 0  0.5px 0.2px #17dcff;
    border-radius: 1.5rem;
}

.neon-card {
    box-shadow:
    0 0 0.1px 0.4px #17dcff,
    0 0 0.4px 0.6px #1e91f0,
    0 0   4px 0.4px #1e3df0,
    inset 0 0  0.5px 0.2px #1e3df0,
    inset 0 0  0.2px 0.1px #1e91f0,
    inset 0 0  0.5px 0.2px #17dcff;
}

.neon {
    text-align: center;
    color: #17dcff;
    text-shadow:  
    .1vw 0vw .25vw #1e91f0, .2vw 0vw .25vw #1e3df0;
}